.cont{
	margin-top: 200px;
margin-left: 500px;
}
.face{
	height: 300px;
	width: 300px;
	background-color: yellow;
	border-radius: 50%;
	animation: face 2s linear infinite;
}
@keyframes face{
	0%{

	}
	50%{
background-color: red;
	}
	100%{

	}
}
.leye,.reye{
	height: 100px;
	width: 100px;
	background-color: white;
	position: absolute;
	border:1px solid black;
	border-radius: 50%;
}
.leye{
	margin-top: 70px;
	margin-left: 30px;
}
.reye{
	margin-top: 70px;
	margin-left: 170px;
}
.eye-ball{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: black;
	margin-left: 30px;
	animation: ball 2s linear infinite;
}
@keyframes ball{
	0%{

	}
	50%{
margin-top: 50px;	}
	100%{

	}
}
.mouth{
	height: 10px;
	width: 40px;
	border-radius: 20px;
	background-color: black;
	position: absolute;
	margin-left: 130px;
	margin-top: 230px;
animation: mouth 2s linear infinite;

}
@keyframes mouth{
	0%{

	}
	50%{
height: 50px;
width: 50px;
border-radius: 50%;
	}
	100%{

	}
}